<%= form_for @event do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
    <%= f.label :photo %>
    <%= f.text_field :photo, placeholder: "url" %>
  </div>
    <div class="field">
      <%= f.label :date %>
      <%= f.date_field :date %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>